<!-- src/main/resources/templates/register.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
</head>
<body>
    <h2>Register</h2>
    <form action="/register" method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        Email: <input type="email" name="email"><br>
        Birthday: <input type="date" name="birthday"><br>
        Profession: <input type="text" name="profession"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
